<!-- footer -->
<section class="footer">
    <h4>About Us</h4>
    <p>Patan Multiple Campus is dedicated to providing quality education and fostering <br> an environment of academic excellence, innovation, and personal growth.</p>
    <div class="cicons">

        <a href="https://www.facebook.com/YourPage" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/YourPage" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/YourPage" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/YourPage" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
</section>