<!-- 
    campus -->

    
    <section class="campus">

        <h1>Our Campus Courses </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam enim omnis cumque, nihil maxime explicabo repudiandae possimus quo sint officiis, ducimus fuga aliquid corrupti placeat asperiores molestias eum aut commodi.</p>


        <div class="row">
            <div class="campus-col">
                <h3>Department of Humanities and Social Sciences</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
                <a href="humanities.html" class="hero-btn">See More Details</a>
            </div>
            <div class="campus-col">
                <h3>Department of Management</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
                <a href="management.html" class="hero-btn">See More Details</a>
            </div>
            <div class="campus-col">
                <h3>Department of Science and Information Technology</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.</p>
                <a href="science-it.html" class="hero-btn">See More Details</a>
            </div>
        </div>
    </section>