<!-- course -->


<section class="course">
    <h1>Courses We Offer</h1>
    <p>Patan Multiple Campus is committed to providing quality education and fostering an environment of academic excellence, innovation, and personal growth. We offer a diverse range of bachelor's and master's courses, including BBS, BBA, Law, Management,
        Humanities, Computer Science, BIT, BIM, Science, and Environmental Science.</p>

    <div class="row">
        <div class="course-col">
            <h3>Intermidiate</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus explicabo, enim perspiciatis tempore minima omnis provident nobis. Ipsam iusto tenetur fugit minima odit sint in sequi ipsum, reprehenderit voluptatibus animi?</p>
        </div>
        <div class="course-col">
            <h3>Bachelors</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus explicabo, enim perspiciatis tempore minima omnis provident nobis. Ipsam iusto tenetur fugit minima odit sint in sequi ipsum, reprehenderit voluptatibus animi?</p>
        </div>
        <div class="course-col">
            <h3>Masters</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus explicabo, enim perspiciatis tempore minima omnis provident nobis. Ipsam iusto tenetur fugit minima odit sint in sequi ipsum, reprehenderit voluptatibus animi?</p>
        </div>
    </div>



</section>