<!-- 
    our facilities -->

    
    <section class="facilities">
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis recusandae vero exercitationem maxime. Itaque corporis, voluptate dignissimos, mollitia maiores cum sunt molestiae, qui repellendus nostrum blanditiis vitae! Itaque, enim sint!</p>
        <div class="row">
            <div class="facilities-col">
                <img src="images/library.jpg" alt="">
                <h3>Best library</h3>
                <p>The library at Patan Multiple Campus is a hub of knowledge and resources, offering a diverse collection of books, journals, and digital materials to support students' academic and research needs in a quiet and conducive environment.</p>
            </div>
            <div class="facilities-col">
                <img src="images/ground.jpg" alt="">
                <h3>Play Grounds</h3>
                <p>The playground at Patan Multiple Campus provides a spacious and well-maintained area for students to engage in various sports and recreational activities, promoting physical fitness, teamwork, and overall well-being in a vibrant outdoor
                    setting.
                </p>
            </div>
            <div class="facilities-col">
                <img src="images/canteen.jpg" alt="">
                <h3>Canteen</h3>
                <p>The canteen at Patan Multiple Campus offers a variety of nutritious and delicious meals and snacks, providing a comfortable space for students to relax and socialize between classes, ensuring they stay energized throughout the day.</p>
            </div>
        </div>



    </section>
