<!-- herosection -->
<style>

.text-box {
    width: 98%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 25px;
}

.text-box h2 {
    font-size: 15px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}




</style>



<div class="text-box">
    <h1>Achieve Your Dreams with Patan Multiple Campus </h1>
    <h2>"Building Tomorrow’s Leaders Today"</h2>
    <p>Welcome to Patan Multiple Campus, where we are dedicated to empowering students with the knowledge, skills, and experiences necessary to thrive in a rapidly changing world. Our vibrant campus community fosters innovation, leadership, and a
        commitment to excellence. Join us and discover a supportive environment where your aspirations can become reality.</p>
    <a href="contactus.html" class="hero-btn">Visit Us To Know More</a>

</div>